.zoom-on-hover {
	position: relative;
	overflow: hidden;
	cursor: crosshair;
}
.zoom-on-hover .normal {
	width: 100%;
}
.zoom-on-hover .zoom {
	position: absolute;
	opacity: 0;
	transform-origin: top left;
}
