.zoom-on-hover {
	position: relative;
	overflow: hidden;
	cursor: crosshair;
}
.zoom-on-hover .normal {
	width: 100%;
}
.zoom-on-hover .zoom {
	position: absolute;
	opacity: 0;
	transform-origin: top left;
	min-width: 100%;
	min-height: 100%;
}
.zoom-on-hover::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}
